{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "plugins": ["jest", "prettier", "@typescript-eslint", "import"],
  "rules": {
    "node/no-missing-import": 0,
    "node/exports-style": ["error", "module.exports"],
    "node/prefer-global/buffer": ["error", "always"],
    "node/prefer-global/console": ["error", "always"],
    "node/prefer-global/process": ["error", "always"],
    "node/prefer-global/url-search-params": ["error", "always"],
    "node/prefer-global/url": ["error", "always"],
    "node/no-unsupported-features/es-syntax": 0,
    "no-console": 0
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".ts", ".test.ts"]
      },
      "typescript": {
        "paths": ["src"],
        "extensions": [".js", ".ts", ".test.ts"]
      }
    }
  },
  "parser": "@typescript-eslint/parser"
}
